extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  title Zar-Stal | Wybierz główne realizacje

block content
  section.section-admin 
    include _editNav

    .edit-content.edit-mp-choose-realizations
      .edit--content-box
        h1.primary-header.edit--primary-header Wybierz główne realizacje
        img.edit-instruction__img(src='/img/edit-pages/choose-realizations-LP.jpg', alt='instrukcja obsługi panelu admina')
        
        p.text.edit-text.number--choosen-realizations Wybrane realizacje 0/2
        form.form
          .choose-realizations 
            each realization in realizations
              .choose-cart
                .img-box 
                  img(src=`/img/realization/${realization.primaryImageThumbnail}`, alt="realizacja do wybrania")
                .choose--realization-info
                  p.choose--realization-title= realization.title
                  .choose--realization-checkbox
                    label(for=realization._id) Główna realizacja?
                    input(type="checkbox" id=realization._id name='realizations' value=realization._id).choose__checkbox 
          .submit--realizations-choosen 
            input(type="submit" value='Aktualizuj').submit-btn
