extends base

block append head 
  link(rel='stylesheet', href='/css/realizations.css')
  link(rel='stylesheet', href='/css/gallery.css')
  link(rel='stylesheet', href='/css/queries/queriesRealizations.css')
  script(src='/js/bundled/index.js' defer)


mixin realizationCart(imgSrc, loc, title, link)
  .realization-cart 
    .realization--cart__img
      a(href=link)
        img(src=`../img/realization/${imgSrc}`, alt="Hala wykonana przez Zar-Stal")
    .cart-info 
      .cart-content
        .cart-location 
          i.ph.ph-map-pin
          span= loc
        p.cart-title= title
      .see--more-box
        a.link(href=link) Zobacz Szczegóły
          i.ph.ph-arrow-right

mixin realizationElementCart(imgSrc, title, id)
  .realization-cart.realization--cart-element(id=id)
    .realization--cart-element__img
      img(src=`../img/realization/${imgSrc}`, alt="Element stalowy wykonany przez Zar-Stal")
      i.ph.ph-images.mulitple-images
    .element-info
      p.element-title= title
      p.text.elements--see-photos 
        span.element-see-photos-btn Zobacz zdjęcia
    .wide--screen-gallery.hidden
      .img--gallery-box
        img.realization--gallery-img.gallery-active(data-realization-img=0 src='../img/realization/steel-elements/element-1-1.jpg', alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        img.realization--gallery-img(data-realization-img=1 src='../img/realization/steel-elements/element-2-1.jpg', alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        img.realization--gallery-img(data-realization-img=2 src='../img/realization/steel-elements/element-3-1.jpg', alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        img.realization--gallery-img(data-realization-img=3 src='../img/realization/steel-elements/element-4-1.jpg', alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        .gallery-counter 
          .gallery-dot.gallery-active(data-go-to=0)
          .gallery-dot(data-go-to=1)
          .gallery-dot(data-go-to=2)
          .gallery-dot(data-go-to=3)
      .gallery--btn-prev.gallery-btns(data-go-to=3)
        span 
          i.ph.ph-caret-left
      .gallery--btn-next.gallery-btns(data-go-to=1) 
        span 
          i.ph.ph-caret-right
        
      .gallery--btn-close 
        i.ph.ph-x
      .overlay.hidden

block content 
  header.realizations-header
    h1.primary-header Nasze Realizacje
    p.realizations--header-text Dowiedz się wiecej, o naszych konstrukcjach, które stworzyliśmy na przestrzeni lat i nie tylko
    .realizations--header-btns 
      a.btn.link(href="#steel-constructions") Hale Stalowe
      a.btn.link(href="#steel-elements") Elementy Stalowe
      a.btn.link(href="#steel-machines") Maszyny
      a.btn.link(href="#steel-containers") Kontenery

  section.section-realizations.realizations#steel-constructions
    .container-realizations
      p.subtitle konstrukcje
      h2.secondary-header Hale Stalowe
      .realizations-box 
        +realizationCart('realization1/realizacja-th-1-1.JPG', 'Przeworsk', 'Okręgowa stacja kontroli pojazdów', '/realizacja/1')
        +realizationCart('realization2/realizacja2.JPG', 'Wierzbna', 'Hala naprawy maszyn', '/realizacja/2')
        +realizationCart('realization3/realizacja3.JPG', 'Wylewa', 'Hala recyklingowa opon', '/realizacja/3')
        +realizationCart('realization4/realizacja4.JPG', 'Wylewa', 'Tartak i magazyn', '/realizacja/4')
        +realizationCart('realization6/realizacja6.JPG', 'Wylewa', 'Magazyn i hala produkcyjna konstrukcji stalowych', '/realizacja/5')
        +realizationCart('realization7/realizacja7.JPG', 'Leżachów', 'Magazyn i hala produkcyjna nawozów', '/realizacja/6')

  section.section--realizations-elements.realizations#steel-elements
    .container-realizations
      p.subtitle elementy
      h2.secondary-header Elementy Stalowe
      .realizations-box 
        +realizationElementCart('steel-elements/element-1-1.jpg', 'Kontenery Białe', 'element-one')
        +realizationElementCart('steel-elements/element-2-1.jpg', 'Wzmocnienia takie jakie są białe', 'element-two')
        +realizationElementCart('steel-elements/element-3-1.jpg', 'Łyżka do koparki mini', 'element-three')
        +realizationElementCart('steel-elements/element-4-1.jpg', 'Maszyna do skrawkowania euro-palet', 'element-four')
    

  section.section--realizations-machines.realizations#steel-machines 
    .container-realizations
      p.subtitle maszyny
      h2.secondary-header Maszyny
      .realizations-box 
        +realizationElementCart('steel-elements/element-1-1.jpg', 'Kontenery Białe', 'machine-one')
        +realizationElementCart('steel-elements/element-2-1.jpg', 'Wzmocnienia takie jakie są białe', 'machine-two')
        +realizationElementCart('steel-elements/element-3-1.jpg', 'Łyżka do koparki mini', 'machine-three')
        +realizationElementCart('steel-elements/element-4-1.jpg', 'Maszyna do skrawkowania euro-palet', 'machine-four')
  
  section.section--realizations-containers.realizations#steel-containers
    .container-realizations
      p.subtitle kontenery
      h2.secondary-header Kontenery
      .realizations-box 
        +realizationElementCart('steel-elements/element-1-1.jpg', 'Kontenery Białe', 'container-one')
        +realizationElementCart('steel-elements/element-2-1.jpg', 'Wzmocnienia takie jakie są białe', 'container-two')
        +realizationElementCart('steel-elements/element-3-1.jpg', 'Łyżka do koparki mini', 'container-three')
