extends base

block append head 
  link(rel='stylesheet', href='/css/realizations.css')
  link(rel='stylesheet', href='/css/gallery.css')
  link(rel='stylesheet', href='/css/queries/queriesRealizations.css')
  title Zar-Stal | Wszystkie Realizacje


mixin realizationCart(imgSrc, loc, title, link)
  .realization-cart 
    .realization--cart__img
      a(href=link)
        img(src=`../img/realization/${imgSrc}`, alt="Hala wykonana przez Zar-Stal")
    .cart-info 
      .cart-content
        .cart-location 
          i.ph.ph-map-pin
          span= loc
        p.cart-title= title
      .see--more-box
        a.link(href=link) Zobacz Szczegóły
          i.ph.ph-arrow-right

mixin realizationElementCart(imgSrc, title, id, imgArr)
  .realization-cart.realization--cart-element(id=id)
    .realization--cart-element__img
      img(src=`../img/realization/${imgSrc}`, alt="Element stalowy wykonany przez Zar-Stal")
      if imgArr.length > 1
        i.ph.ph-images.mulitple-images
    .element-info
      p.element-title= title
      p.text.elements--see-photos 
        span.element-see-photos-btn Zobacz zdjęcia
    .wide--screen-gallery.hidden
      .img--gallery-box
        each val, i in imgArr
          img.realization--gallery-img(data-realization-img=i src=`../img/realization/elements/${val}`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        .gallery-counter 
          each _, i in imgArr
            .gallery-dot(data-go-to=i)

      .gallery--btn-prev.gallery-btns(data-go-to=3)
        span 
          i.ph.ph-caret-left
      .gallery--btn-next.gallery-btns(data-go-to=1) 
        span 
          i.ph.ph-caret-right
        
      .gallery--btn-close 
        i.ph.ph-x
      .overlay.hidden

block content 
  header.realizations-header.intersection-header
    h1.primary-header Nasze Realizacje
    p.realizations--header-text Dowiedz się wiecej, o naszych konstrukcjach, które stworzyliśmy na przestrzeni lat i nie tylko
    .realizations--header-btns 
      a.btn.link(href="#steel-constructions") Hale Stalowe
      a.btn.link(href="#steel-elements") Elementy Stalowe
      a.btn.link(href="#steel-machines") Maszyny
      a.btn.link(href="#steel-containers") Kontenery

  section.section.section--hidden.section-realizations.realizations#steel-constructions
    .container-realizations
      p.subtitle konstrukcje
      h2.secondary-header Hale Stalowe
      .realizations-box 
        each real in realizations
          +realizationCart(real.primaryImageThumbnail, real.location, real.title, `/realizacje/realizacja/${real._id}`)

  section.section.section--hidden.section--realizations-elements.realizations#steel-elements
    .container-realizations
      p.subtitle elementy
      h2.secondary-header Elementy Stalowe
      .realizations-box 
        each element, i in elements.filter(el => el.category === 'Elementy')
          +realizationElementCart(`elements/${element.imagesThumbnails[0]}`, `${element.title}`, `${element.title}-${(Math.random()*1000)%1000}`, [...element.images])

    

  section.section.section--hidden.section--realizations-machines.realizations#steel-machines 
    .container-realizations
      p.subtitle maszyny
      h2.secondary-header Maszyny
      .realizations-box 
        each element, i in elements.filter(el => el.category === 'Maszyny')
          +realizationElementCart(`elements/${element.imagesThumbnails[0]}`, `${element.title}`, `${element.title}-${(Math.random()*1000)%1000}`, [...element.images])        
  
  section.section.section--hidden.section--realizations-containers.realizations#steel-containers
    .container-realizations
      p.subtitle kontenery
      h2.secondary-header Kontenery
      .realizations-box 
        each element, i in elements.filter(el => el.category === 'Kontenery')
          +realizationElementCart(`elements/${element.imagesThumbnails[0]}`, `${element.title}`, `${element.title}-${(Math.random()*1000)%1000}`, [...element.images])        
