extends base

block append head
  link(rel='stylesheet', href='/css/singleRealization.css')
  link(rel='stylesheet', href='/css/gallery.css')
  link(rel='stylesheet', href='/css/queries/queriesSingleRealization.css')
  title Zar-Stal | Szczegóły realizacji


block content 
  section.section--single-realization
    .columns
      .realization--column-left
        .realization-description
          p.location
            i.ph.ph-map-pin 
            span= realization.location
          h3.third-header.realization-header= realization.title
          p.text.realization-text= realization.description
        .realization-specifications 
          p.specification-title Specyfikacja
            each spec in realization.specifications
              .specifications-element 
                p.element-title= spec.name
                p.element-value= spec.value
                  if spec.unit === 'meter'
                    span.element-unit  m 
                  if spec.unit === 'meter-2'
                    span.element-unit  m 
                      sup 2
                  if spec.unit === 'meter-3'
                    span.element-unit  m 
                      sup 3

        .realization-moreinfo 
          p.moreinfo-title Więcej Informacji? 
          a.link.btn.moreinfo-btn(href='/#kontakt') Skontaktuj się z nami 

      .realization--column-right#single-realizations
        img.realization--img-main.realization-img(data-go-to=0 src=`/img/realization/${realization.primaryImageThumbnail}`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        .realization-imgs
          each real, i in realization.imagesThumbnails
            .realization--img-small.realization-img(data-go-to=i+1)
              img(src=`/img/realization/${real}`, data-img-th-id=real, data-img-wide-id=realization.images[i] alt='zdjęcie podglądowe realizacji wykonanej przez Zar-Stal')
              if i == 2 && realization.imagesThumbnails.length > 3
                .img-overlay
                  p.img-count= `+${realization.imagesThumbnails.length - 2}`
            if i == 2
              - break
        
        .wide--screen-gallery.hidden
          .img--gallery-box
            img.realization--gallery-img(data-realization-img=0 src=`/img/realization/${realization.primaryImage}`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
            each image, i in realization.images
              img.realization--gallery-img(data-realization-img=i+1 src=`/img/realization/${image}`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
            .gallery-counter 
              each _, i in Array(realization.images.length+1)
                if i == 0
                  .gallery-dot.gallery-active(data-go-to=i)
                else
                  .gallery-dot(data-go-to=i)
          .gallery--btn-prev.gallery-btns(data-go-to=realization.images.length)
            span 
              i.ph.ph-caret-left
          .gallery--btn-next.gallery-btns(data-go-to=1) 
            span 
              i.ph.ph-caret-right
          
          .gallery--btn-close 
            i.ph.ph-x
          .overlay.hidden
    