extends base

block append head
  link(rel='stylesheet', href='/css/singleRealization.css')
  link(rel='stylesheet', href='/css/gallery.css')
  link(rel='stylesheet', href='/css/queries/queriesSingleRealization.css')
  script(src='/js/bundled/index.js' defer)


block content 
  section.section--single-realization
    .columns
      .realization--column-left
        .realization-description
          p.location
            i.ph.ph-map-pin 
            span Przeworsk
          h3.third-header.realization-header Tytuł Realizacji I
          p.text.realization-text Krótki opis realizacji lorem ipsum dolor sit omet non akda krótki opis realizacji lorem ipsum dolor sit omet non akda
        
        .realization-specifications 
          p.specification-title Specyfikacja
          .specifications-element 
            p.element-title Szerokość
            p.element-value 16m
          .specifications-element 
            p.element-title Długość
            p.element-value 20m
          .specifications-element 
            p.element-title Wysokość
            p.element-value 8m
          .specifications-element 
            p.element-title Powierzchnia
            p.element-value 320m
              sup 2

        .realization-moreinfo 
          p.moreinfo-title Więcej Informacji? 
          a.link.btn.moreinfo-btn(href='/#kontakt') Skontaktuj się z nami 

      .realization--column-right#single-realizations
        img.realization--img-main.realization-img(data-go-to=0 src=`../img/realization/realization${id}/realizacja-th-${id}-1.jpg`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
        .realization-imgs
          .realization--img-small.realization-img(data-go-to=1)
            img(src=`../img/realization/realization${id}/realizacja-th-${id}-2.jpg`, alt='zdjęcie podglądowe realizacji wykonanej przez Zar-Stal')
          .realization--img-small.realization-img(data-go-to=2) 
            img(src=`../img/realization/realization${id}/realizacja-th-${id}-3.jpg`, alt='zdjęcie podglądowe realizacji wykonanej przez Zar-Stal')
          .realization--img-small.realization-img(data-go-to=3) 
            img(src=`../img/realization/realization${id}/realizacja-th-${id}-4.jpg`, alt='zdjęcie podglądowe realizacji wykonanej przez Zar-Stal')
            //- .img-overlay
            //-   p.img-count +2
        
        .wide--screen-gallery.hidden
          .img--gallery-box
            img.realization--gallery-img(data-realization-img=0 src=`../img/realization/realization${id}/realizacja-wide-${id}-1.jpg`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
            img.realization--gallery-img(data-realization-img=1 src=`../img/realization/realization${id}/realizacja-wide-${id}-2.jpg` alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
            img.realization--gallery-img(data-realization-img=2 src=`../img/realization/realization${id}/realizacja-wide-${id}-3.jpg`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
            img.realization--gallery-img(data-realization-img=3 src=`../img/realization/realization${id}/realizacja-wide-${id}-4.jpg`, alt='Zdjęcie realizacji wykonanej przez Zar-Stal')
            .gallery-counter 
              .gallery-dot.gallery-active(data-go-to=0)
              .gallery-dot(data-go-to=1)
              .gallery-dot(data-go-to=2)
              .gallery-dot(data-go-to=3)
          .gallery--btn-prev.gallery-btns(data-go-to=3)
            span 
              i.ph.ph-caret-left
          .gallery--btn-next.gallery-btns(data-go-to=1) 
            span 
              i.ph.ph-caret-right
          
          .gallery--btn-close 
            i.ph.ph-x
          .overlay.hidden
    